block variables 
doctype html 
html 
  head
    meta(charset="utf-8")
    title Random Colour Palette Generator - Assignment 2 - by David Henry
    link(rel="stylesheet", href="styles.css")
  body
    header#header 
      .header-content   
        h1#site-name Random Colour Palette Generator 
    main#main 
      block main-content 
    footer#footer 
      p &copy; Copyright David Henry, 2026.